<!DOCTYPE html>
<html>
<head>
    <title>Lescinsc Landing</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='css/main2.css') }}" />
</head>
<body>
    <h1>Welcome to Lescinsc Landing</h1>
    <p>Projects are listed below:</p>
    <nav>
        <ul>
            <li><a href="{{ url_for('playlist_view') }}">Spotify Playlist Manager</a></li>
            <li><a href="https://geobuilds.etsy.com">GeoBuilds 3D Terrain Prints</a></li>
        </ul>
    </nav>
</body>
<body>
</body>
</html>