<!DOCTYPE html>
<html>
<head>
    <title>Artist Input</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main2.css') }}" />
</head>
<body>
    <h2> Logged in as {{ user }} ---
    <a href="/logout">Log Out,</a>
    <a href="{{ url_for('playlist_view') }}"> 
        Back to Playlists
    </a>
    </h2>
    <h1>About Playlist Creatation</h1>
    <p>This will allow you to create and add a new playlist to your spotify account </p>
    <p> First we will get a list of songs from the artists you provide.</p>
    <p>It will take half of the songs from the artist's top tracks and half of the songs from their entire discography. </p>
    <p>Click Create Playist to create the list, you will be able to preview the playlist before adding it to your spotify account</p>
    
    <h2>Enter Artist Info</h2>
    <form method="POST">
        {% if message %}
        <div style="color: red;">{{ message }}</div>
        {% endif %}
        <p1>Artist Name:</p1>
        <input type="text" name="artist_name" required><br><br>
        <p1>Number of Songs:<p1>
        <input type="number" name="num_songs" required><br><br>
        <button type="submit">Add Artist</button>  
    </form>

    <h2>Entries so far:</h2>
    <ul>
        {% for entry in entries %}
            <li>
                {{ entry.artist }} — {{ entry.songs }} songs-- 
                <a href="{{ url_for('remove_artist', artist_name=entry.artist)}}"> 
                 Click to remove
                </a>
            </li>
        {% endfor %}
    </ul>
    <button type="submit" name="done" formnovalidate>Create Playlist</button>
    

    
</body>
</html>
